Demo-V3.1 LTS.json
[{"id":"648f7293.da65ec","type":"tab","label":"Demo V2","disabled":false,"info":""},{"id":"f30fe5bb.9ec6b8","type":"ui_text","z":"648f7293.da65ec","group":"a064839d.895c3","order":1,"width":0,"height":0,"name":"","label":"Motor Control ","format":"{{msg.payload}}","layout":"col-center","x":160,"y":160,"wires":[]},{"id":"908c5d14.c777c","type":"ui_text","z":"648f7293.da65ec","group":"a064839d.895c3","order":3,"width":0,"height":0,"name":"","label":"Forward & Reverse Motor","format":"{{msg.payload}}","layout":"col-center","x":190,"y":420,"wires":[]},{"id":"f0893926.24d798","type":"ui_text","z":"648f7293.da65ec","group":"a064839d.895c3","order":8,"width":0,"height":0,"name":"","label":"Switch The Light ON/OFF","format":"{{msg.payload}}","layout":"col-center","x":230,"y":840,"wires":[]},{"id":"50790261.a833cc","type":"ui_switch","z":"648f7293.da65ec","name":"","label":"Light","tooltip":"","group":"a064839d.895c3","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":900,"wires":[["111b3628.8afb6a","738e097f.fd0b08","16b53050.77d1c"]]},{"id":"4b5ca7d8.0e3d48","type":"ui_text","z":"648f7293.da65ec","group":"a064839d.895c3","order":5,"width":0,"height":0,"name":"","label":"Encode","format":"{{msg.payload}}","layout":"col-center","x":180,"y":960,"wires":[]},{"id":"c110ebb4.a97618","type":"ui_text","z":"648f7293.da65ec","group":"cb016ac2.6a3338","order":5,"width":0,"height":0,"name":"","label":"Frequency ","format":"{{msg.payload.frequency}} Hz","layout":"row-spread","x":1790,"y":760,"wires":[]},{"id":"9aeb0621.b33398","type":"ui_slider","z":"648f7293.da65ec","name":"Frequency Slider","label":"Frequency Slider","tooltip":"","group":"a064839d.895c3","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"60","step":1,"x":170,"y":620,"wires":[["58fb8358.2c117c"]]},{"id":"ab6c456.66a46b8","type":"ui_text","z":"648f7293.da65ec","group":"cb016ac2.6a3338","order":2,"width":0,"height":0,"name":"","label":"Current","format":"{{msg.payload.current}} A","layout":"row-spread","x":1780,"y":800,"wires":[]},{"id":"a0e3c621.bf6768","type":"ui_text","z":"648f7293.da65ec","group":"cb016ac2.6a3338","order":3,"width":0,"height":0,"name":"","label":"Voltage","format":"{{msg.payload.voltage}} V","layout":"row-spread","x":1780,"y":840,"wires":[]},{"id":"a236fa11.2523c8","type":"ui_text","z":"648f7293.da65ec","group":"cb016ac2.6a3338","order":7,"width":0,"height":0,"name":"","label":"Lamp","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":770,"y":840,"wires":[]},{"id":"111b3628.8afb6a","type":"function","z":"648f7293.da65ec","name":"light function ","func":"msg.color = (msg.payload === true) ? 'lime': '#7f8c8d';\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":840,"wires":[["a236fa11.2523c8"]]},{"id":"a0633c26.fcefc","type":"ui_gauge","z":"648f7293.da65ec","name":"","group":"cb016ac2.6a3338","order":6,"width":0,"height":0,"gtype":"gage","title":"Frequency","label":"units","format":"{{msg.payload.frequency}} Hz","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":1790,"y":920,"wires":[]},{"id":"f420f28a.bd1f4","type":"ui_text","z":"648f7293.da65ec","group":"cb016ac2.6a3338","order":4,"width":0,"height":0,"name":"Rotary Encoder","label":"Rotary Encoder","format":"{{msg.payload.rotary}} Pulse","layout":"row-spread","x":1800,"y":880,"wires":[]},{"id":"f028df48.e64f1","type":"debug","z":"648f7293.da65ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":900,"wires":[]},{"id":"b127516a.add5d","type":"socketio-connector","z":"648f7293.da65ec","server":"49a5bc46.371b74","namespace":"","name":"","x":960,"y":840,"wires":[["85f0238a.7929e"]]},{"id":"85f0238a.7929e","type":"socketio-listener","z":"648f7293.da65ec","eventname":"register-data","name":"","x":1170,"y":840,"wires":[["f028df48.e64f1","c110ebb4.a97618","ab6c456.66a46b8","a0e3c621.bf6768","f420f28a.bd1f4","a0633c26.fcefc","f5a3c3a4.54c52"]]},{"id":"bdadb513.380db8","type":"http request","z":"648f7293.da65ec","name":"ON/OFF state","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.10.10:81/publish-command","tls":"","proxy":"","authType":"","x":1360,"y":140,"wires":[["e0d64959.c2b818"]]},{"id":"2d0a0a2b.81f756","type":"http request","z":"648f7293.da65ec","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.10.10:81/publish-command","tls":"","proxy":"","authType":"","x":550,"y":620,"wires":[["4bd7a543.43228c"]]},{"id":"58fb8358.2c117c","type":"function","z":"648f7293.da65ec","name":"pass object","func":"msg.payload = {\"command\":{\"label\": \"slider\",\"clientId\":\"1\",\"address\":\"101\",\"value\": msg.payload},\"fromAddress\":\"9f532787bd843b8c89adaf58a3dfcc6676779f21d975721844658659b686656b\",\"toAddress\":\"040f0354dbbed43a5803c767046c1733e0edb1be2010a844b0b98a06005965080a2045be375af0dcd4fee70f44aff936bb488dcfdabf650bcf97b7482f424240ae\"}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["2d0a0a2b.81f756"]]},{"id":"738e097f.fd0b08","type":"function","z":"648f7293.da65ec","name":"pass object","func":"msg.payload = {\n                \"command\":\n                    { \"label\": \"light\",\n                    \"clientId\":\"1\",\"address\":\"101\",\"value\": msg.payload},\n                    \"fromAddress\":\"9f532787bd843b8c89adaf58a3dfcc6676779f21d975721844658659b686656b\",\n                    \"toAddress\":\"040f0354dbbed43a5803c767046c1733e0edb1be2010a844b0b98a06005965080a2045be375af0dcd4fee70f44aff936bb488dcfdabf650bcf97b7482f424240ae\"\n            }\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":920,"wires":[["dcd0ca29.0f5ac8"]]},{"id":"dcd0ca29.0f5ac8","type":"http request","z":"648f7293.da65ec","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.10.10:81/publish-command","tls":"","proxy":"","authType":"","x":590,"y":920,"wires":[["36406733.07a788"]]},{"id":"36406733.07a788","type":"json","z":"648f7293.da65ec","name":"","property":"payload","action":"","pretty":false,"x":770,"y":920,"wires":[[]]},{"id":"4bd7a543.43228c","type":"json","z":"648f7293.da65ec","name":"","property":"payload","action":"","pretty":false,"x":730,"y":620,"wires":[["3a496c90.82d6d4"]]},{"id":"3a496c90.82d6d4","type":"debug","z":"648f7293.da65ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":660,"wires":[]},{"id":"39fa3291.8f8cfe","type":"inject","z":"648f7293.da65ec","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":150,"y":100,"wires":[["75e780a.d2f108"]]},{"id":"75e780a.d2f108","type":"change","z":"648f7293.da65ec","name":"global switch start","rules":[{"t":"set","p":"switch","pt":"global","to":"0","tot":"str"},{"t":"set","p":"forwardMotor","pt":"global","to":"0","tot":"str"},{"t":"set","p":"encode","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":60,"wires":[[]]},{"id":"282f4c2d.ee0474","type":"function","z":"648f7293.da65ec","name":"Send Command","func":"var obtaindata = global.get (\"switch\")\nif (obtaindata == \"1\"){msg.payload = {\n    \"command\": {\n        \"label\": \"motor\",\n        \"clientId\": \"1\",\n        \"address\": \"106\",\n        \"value\": true\n    },\n    \"fromAddress\": \"9f532787bd843b8c89adaf58a3dfcc6676779f21d975721844658659b686656b\",\n    \"toAddress\": \"040f0354dbbed43a5803c767046c1733e0edb1be2010a844b0b98a06005965080a2045be375af0dcd4fee70f44aff936bb488dcfdabf650bcf97b7482f424240ae\"\n}}\nif (obtaindata == \"0\"){msg.payload = {\n    \"command\": {\n        \"label\": \"motor\",\n        \"clientId\": \"1\",\n        \"address\": \"106\",\n        \"value\": false\n    },\n    \"fromAddress\": \"9f532787bd843b8c89adaf58a3dfcc6676779f21d975721844658659b686656b\",\n    \"toAddress\": \"040f0354dbbed43a5803c767046c1733e0edb1be2010a844b0b98a06005965080a2045be375af0dcd4fee70f44aff936bb488dcfdabf650bcf97b7482f424240ae\"\n}}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1140,"y":160,"wires":[["bdadb513.380db8"]]},{"id":"ff0451a0.ebe01","type":"switch","z":"648f7293.da65ec","name":"ON/OFF state","property":"switch","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":220,"wires":[["c69e9e23.a5316"],["94c6855b.23e5b8"]]},{"id":"c69e9e23.a5316","type":"function","z":"648f7293.da65ec","name":"if is on","func":"msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"Stop Motor\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["307f80c5.1ee5e"]]},{"id":"94c6855b.23e5b8","type":"function","z":"648f7293.da65ec","name":"if its off","func":"msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"Start Motor\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["307f80c5.1ee5e"]]},{"id":"307f80c5.1ee5e","type":"ui_button","z":"648f7293.da65ec","name":"on/off","group":"a064839d.895c3","order":2,"width":0,"height":0,"passthru":false,"label":"{{msg.text}}","tooltip":"","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"power_settings_new","payload":"none","payloadType":"str","topic":"button","x":870,"y":200,"wires":[["cf0430d7.abca"]]},{"id":"cf0430d7.abca","type":"switch","z":"648f7293.da65ec","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":200,"wires":[["4299307.038cdd","282f4c2d.ee0474"]]},{"id":"482e3b6f.63bba4","type":"inject","z":"648f7293.da65ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":220,"wires":[["7b827958.b7e2b8"]]},{"id":"4299307.038cdd","type":"function","z":"648f7293.da65ec","name":"","func":"var obtaindata = global.get (\"switch\")\nif (obtaindata == \"1\"){msg.payload = 0}\nif (obtaindata == \"0\"){msg.payload = 1}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1130,"y":240,"wires":[["e0d64959.c2b818","706e7b29.b337e4"]]},{"id":"e0d64959.c2b818","type":"debug","z":"648f7293.da65ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":300,"wires":[]},{"id":"706e7b29.b337e4","type":"change","z":"648f7293.da65ec","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"switch","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":220,"wires":[[]]},{"id":"2ffead7f.5dafe2","type":"inject","z":"648f7293.da65ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":280,"wires":[["f8650d4f.f384a"]]},{"id":"f8650d4f.f384a","type":"function","z":"648f7293.da65ec","name":"check variable value for debug","func":"var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":280,"wires":[["e0d64959.c2b818"]]},{"id":"7b827958.b7e2b8","type":"function","z":"648f7293.da65ec","name":"","func":"var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["ff0451a0.ebe01"]]},{"id":"9fdf0238.d0908","type":"switch","z":"648f7293.da65ec","name":"ON/OFF state","property":"forwardMotor","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":480,"wires":[["75d285a1.75b16c"],["f970763a.618e28"]]},{"id":"f970763a.618e28","type":"function","z":"648f7293.da65ec","name":"if its off","func":"msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"Forward Motor\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":500,"wires":[["829b5bc8.e59de8"]]},{"id":"829b5bc8.e59de8","type":"ui_button","z":"648f7293.da65ec","name":"on/off","group":"a064839d.895c3","order":4,"width":0,"height":0,"passthru":false,"label":"{{msg.text}}","tooltip":"","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"all_inclusive","payload":"none","payloadType":"str","topic":"button","x":850,"y":460,"wires":[["cf081169.f6fa8"]]},{"id":"cf081169.f6fa8","type":"switch","z":"648f7293.da65ec","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":460,"wires":[["bbaf571f.adc2f8","6f45379e.235508"]]},{"id":"fb13e56d.05fe78","type":"inject","z":"648f7293.da65ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":480,"wires":[["34c1240d.620bec"]]},{"id":"bbaf571f.adc2f8","type":"function","z":"648f7293.da65ec","name":"","func":"var obtaindata = global.get (\"forwardMotor\")\nif (obtaindata == \"1\"){msg.payload = 0}\nif (obtaindata == \"0\"){msg.payload = 1}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1110,"y":500,"wires":[["665a884e.65da08","f76efa5.f745308"]]},{"id":"665a884e.65da08","type":"debug","z":"648f7293.da65ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1330,"y":560,"wires":[]},{"id":"f76efa5.f745308","type":"change","z":"648f7293.da65ec","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"forwardMotor","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":480,"wires":[[]]},{"id":"a7c7559e.2e4668","type":"inject","z":"648f7293.da65ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":540,"wires":[["954d0e7c.64735"]]},{"id":"954d0e7c.64735","type":"function","z":"648f7293.da65ec","name":"check variable value for debug","func":"var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1070,"y":540,"wires":[["665a884e.65da08"]]},{"id":"34c1240d.620bec","type":"function","z":"648f7293.da65ec","name":"","func":"var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["9fdf0238.d0908"]]},{"id":"6f45379e.235508","type":"function","z":"648f7293.da65ec","name":"Send Command","func":"var obtaindata = global.get (\"forwardMotor\")\nif (obtaindata == \"1\"){msg.payload = {\n    \"command\": {\n        \"label\": \"motorDirection\",\n        \"clientId\": \"1\",\n        \"address\": \"107\",\n        \"value\": true\n    },\n    \"fromAddress\": \"9f532787bd843b8c89adaf58a3dfcc6676779f21d975721844658659b686656b\",\n    \"toAddress\": \"040f0354dbbed43a5803c767046c1733e0edb1be2010a844b0b98a06005965080a2045be375af0dcd4fee70f44aff936bb488dcfdabf650bcf97b7482f424240ae\"\n}}\nif (obtaindata == \"0\"){msg.payload = {\n    \"command\": {\n        \"label\": \"motorDirection\",\n        \"clientId\": \"1\",\n        \"address\": \"107\",\n        \"value\": false\n    },\n    \"fromAddress\": \"9f532787bd843b8c89adaf58a3dfcc6676779f21d975721844658659b686656b\",\n    \"toAddress\": \"040f0354dbbed43a5803c767046c1733e0edb1be2010a844b0b98a06005965080a2045be375af0dcd4fee70f44aff936bb488dcfdabf650bcf97b7482f424240ae\"\n}}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1140,"y":420,"wires":[["cae22123.015cb"]]},{"id":"cae22123.015cb","type":"http request","z":"648f7293.da65ec","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.10.10:81/publish-command","tls":"","proxy":"","authType":"","x":1350,"y":420,"wires":[["665a884e.65da08"]]},{"id":"75d285a1.75b16c","type":"function","z":"648f7293.da65ec","name":"if is on","func":"msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"Reverse Motor\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["829b5bc8.e59de8"]]},{"id":"c92e34ec.747198","type":"inject","z":"648f7293.da65ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":1020,"wires":[["65d667b2.ef3af8"]]},{"id":"65d667b2.ef3af8","type":"function","z":"648f7293.da65ec","name":"","func":"var obtaindata = global.get (\"encode\");\nmsg.payload = obtaindata;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":1020,"wires":[["8575c053.96151"]]},{"id":"8575c053.96151","type":"switch","z":"648f7293.da65ec","name":"ON/OFF state","property":"encode","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":1020,"wires":[["ff37863f.296bc8"],["9bd503c3.931c6"]]},{"id":"ff37863f.296bc8","type":"function","z":"648f7293.da65ec","name":"if is on","func":"msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"Stop Encoding\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":980,"wires":[["77825427.4a44bc"]]},{"id":"9bd503c3.931c6","type":"function","z":"648f7293.da65ec","name":"if its off","func":"msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"Start Encoding\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1040,"wires":[["77825427.4a44bc"]]},{"id":"77825427.4a44bc","type":"ui_button","z":"648f7293.da65ec","name":"on/off","group":"a064839d.895c3","order":6,"width":0,"height":0,"passthru":false,"label":"{{msg.text}}","tooltip":"","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"code","payload":"none","payloadType":"str","topic":"button","x":890,"y":1000,"wires":[["aa5f848c.66eb28"]]},{"id":"aa5f848c.66eb28","type":"switch","z":"648f7293.da65ec","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1000,"wires":[["8c5f027c.c4b98","1828538c.d3b36c"]]},{"id":"1828538c.d3b36c","type":"function","z":"648f7293.da65ec","name":"Send Command","func":"var obtaindata = global.get (\"encode\")\nif (obtaindata == \"1\"){msg.payload = {\n    \"command\": {\n        \"label\": \"encoding\",\n        \"clientId\": \"1\",\n        \"address\": \"100\",\n        \"value\": true\n    },\n    \"fromAddress\": \"9f532787bd843b8c89adaf58a3dfcc6676779f21d975721844658659b686656b\",\n    \"toAddress\": \"040f0354dbbed43a5803c767046c1733e0edb1be2010a844b0b98a06005965080a2045be375af0dcd4fee70f44aff936bb488dcfdabf650bcf97b7482f424240ae\"\n}}\nif (obtaindata == \"0\"){msg.payload = {\n    \"command\": {\n        \"label\": \"encoding\",\n        \"clientId\": \"1\",\n        \"address\": \"100\",\n        \"value\": false\n    },\n    \"fromAddress\": \"9f532787bd843b8c89adaf58a3dfcc6676779f21d975721844658659b686656b\",\n    \"toAddress\": \"040f0354dbbed43a5803c767046c1733e0edb1be2010a844b0b98a06005965080a2045be375af0dcd4fee70f44aff936bb488dcfdabf650bcf97b7482f424240ae\"\n}}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1180,"y":960,"wires":[["71b661cc.113de"]]},{"id":"8c5f027c.c4b98","type":"function","z":"648f7293.da65ec","name":"","func":"var obtaindata = global.get (\"encode\")\nif (obtaindata == \"1\"){msg.payload = 0}\nif (obtaindata == \"0\"){msg.payload = 1}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":1040,"wires":[["1c5f3bcd.05a714","99b070c9.192ab"]]},{"id":"71b661cc.113de","type":"http request","z":"648f7293.da65ec","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.10.10:81/publish-command","tls":"","proxy":"","authType":"","x":1410,"y":960,"wires":[["1c5f3bcd.05a714"]]},{"id":"99b070c9.192ab","type":"change","z":"648f7293.da65ec","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"encode","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":1020,"wires":[[]]},{"id":"63fe3518.8ca22c","type":"function","z":"648f7293.da65ec","name":"check variable value for debug","func":"var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1110,"y":1080,"wires":[["1c5f3bcd.05a714"]]},{"id":"1c5f3bcd.05a714","type":"debug","z":"648f7293.da65ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":1100,"wires":[]},{"id":"407ec680.7f7018","type":"inject","z":"648f7293.da65ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":1080,"wires":[["63fe3518.8ca22c"]]},{"id":"6bcec116.d2fae","type":"ui_template","z":"648f7293.da65ec","group":"30c2eb65.9c3654","name":"","order":1,"width":"6","height":"2","format":"<div style=\"width: 100%; text-align: center !important\">\n<img style=\"width: 60%; \"  src=\"/udaya_green.png\" alt='Image not found'  />\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":360,"y":120,"wires":[[]]},{"id":"94e55abf.74f698","type":"inject","z":"648f7293.da65ec","name":"update","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":100,"y":1240,"wires":[["f29fc01b.75a84","ced53cbd.59077"]]},{"id":"f29fc01b.75a84","type":"OS","z":"648f7293.da65ec","name":"","x":289.25000762939453,"y":1201.75,"wires":[["28b1f843.436938","4ed0233b.a4370c","2ebb4ca.11cd6b4","a06a63d9.033a"]]},{"id":"fb18313a.ca19","type":"Memory","z":"648f7293.da65ec","name":"","x":289.75000762939453,"y":1327.0000038146973,"wires":[["dc1d1afd.5d1be8","39cae08c.41846","4903cb5a.5f83c4","934dcb6f.9410a8"]]},{"id":"28b1f843.436938","type":"function","z":"648f7293.da65ec","name":"hostname","func":"msg.payload = msg.payload.hostname; \n\nreturn msg;","outputs":1,"noerr":0,"x":482.25000762939453,"y":1174.5,"wires":[["956f6302.fe018"]]},{"id":"4ed0233b.a4370c","type":"function","z":"648f7293.da65ec","name":"osType","func":"msg.payload = msg.payload.type; \nreturn msg;","outputs":1,"noerr":0,"x":484.75000762939453,"y":1220.7500019073486,"wires":[["63ea4739.4d3ee8"]]},{"id":"2ebb4ca.11cd6b4","type":"function","z":"648f7293.da65ec","name":"platform","func":"msg.payload = msg.payload.platform; \nreturn msg;","outputs":1,"noerr":0,"x":483.50000762939453,"y":1269.5000019073486,"wires":[["77cc9643.302438"]]},{"id":"a06a63d9.033a","type":"function","z":"648f7293.da65ec","name":"arch","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":476.00000762939453,"y":1312.0000019073486,"wires":[["887e3a21.1930f8"]]},{"id":"dc1d1afd.5d1be8","type":"function","z":"648f7293.da65ec","name":"memusage","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1360,"wires":[["dee17f66.1ce39"]]},{"id":"39cae08c.41846","type":"function","z":"648f7293.da65ec","name":"memusage","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":501.00000381469727,"y":1413.250005722046,"wires":[["46cfdeff.4c184"]]},{"id":"4903cb5a.5f83c4","type":"function","z":"648f7293.da65ec","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":485.50000381469727,"y":1453.7500066757202,"wires":[["2ad3750e.44590a"]]},{"id":"2ad3750e.44590a","type":"ui_text","z":"648f7293.da65ec","group":"c5924d7a.24bb7","order":4,"width":0,"height":0,"name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":1440,"wires":[]},{"id":"46cfdeff.4c184","type":"ui_gauge","z":"648f7293.da65ec","name":"Memory Usage","group":"c5924d7a.24bb7","order":2,"width":0,"height":0,"gtype":"gage","title":"24 Hours","label":"Usage","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"65","x":680,"y":1400,"wires":[]},{"id":"dee17f66.1ce39","type":"ui_chart","z":"648f7293.da65ec","name":"Memory - 24 Hours","group":"c5924d7a.24bb7","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":690,"y":1360,"wires":[[]]},{"id":"887e3a21.1930f8","type":"ui_text","z":"648f7293.da65ec","group":"30c2eb65.9c3654","order":4,"width":0,"height":0,"name":"arch","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":651.0000076293945,"y":1298.2500019073486,"wires":[]},{"id":"77cc9643.302438","type":"ui_text","z":"648f7293.da65ec","group":"30c2eb65.9c3654","order":5,"width":0,"height":0,"name":"platform","label":"platform","format":"{{msg.payload}}","layout":"row-spread","x":658.5000076293945,"y":1254.5000019073486,"wires":[]},{"id":"63ea4739.4d3ee8","type":"ui_text","z":"648f7293.da65ec","group":"30c2eb65.9c3654","order":2,"width":0,"height":0,"name":"OS","label":"OS","format":"{{msg.payload}}","layout":"row-spread","x":649.7500076293945,"y":1213.25,"wires":[]},{"id":"956f6302.fe018","type":"ui_text","z":"648f7293.da65ec","group":"30c2eb65.9c3654","order":3,"width":0,"height":0,"name":"hostname","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":664.7500076293945,"y":1174.5,"wires":[]},{"id":"16b53050.77d1c","type":"function","z":"648f7293.da65ec","name":"light condition","func":"msg.payload = (msg.payload === true) ? \"Light On\" : \"Light Off\"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":760,"wires":[["691ba041.303ad8"]]},{"id":"4fccfdfb.796b84","type":"inject","z":"648f7293.da65ec","name":"update","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":100,"y":1300,"wires":[["fb18313a.ca19"]]},{"id":"df8a670e.0781b8","type":"ui_text","z":"648f7293.da65ec","group":"30c2eb65.9c3654","order":6,"width":0,"height":0,"name":"","label":"Version","format":"1.0","layout":"row-spread","x":660,"y":1520,"wires":[]},{"id":"ced53cbd.59077","type":"NetworkIntf","z":"648f7293.da65ec","name":"","x":180,"y":1140,"wires":[["f3f297c5.679738"]]},{"id":"f3f297c5.679738","type":"function","z":"648f7293.da65ec","name":"ip addr ","func":"eth = msg.payload.networkInterfaces.lo[0].address;\nwlan = msg.payload.networkInterfaces.wlan0[0].address;\nmsg.payload = (eth == \"127.0.0.1\") ? wlan : eth;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1120,"wires":[["1a1eb84f.57fc78","934dcb6f.9410a8"]]},{"id":"1a1eb84f.57fc78","type":"ui_text","z":"648f7293.da65ec","group":"c5924d7a.24bb7","order":1,"width":0,"height":0,"name":"","label":"IP Address","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1140,"wires":[]},{"id":"18ed5be2.e913d4","type":"ui_switch","z":"648f7293.da65ec","name":"","label":"Light Stage","tooltip":"","group":"a064839d.895c3","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":1640,"wires":[["221eb042.b8867"]]},{"id":"221eb042.b8867","type":"function","z":"648f7293.da65ec","name":"pass object","func":"msg.payload = {\n                \"command\":\n                    { \"label\": \"stageLight\",\n                    \"clientId\":\"1\",\"address\":\"105\",\"value\": msg.payload},\n                    \"fromAddress\":\"9f532787bd843b8c89adaf58a3dfcc6676779f21d975721844658659b686656b\",\n                    \"toAddress\":\"040f0354dbbed43a5803c767046c1733e0edb1be2010a844b0b98a06005965080a2045be375af0dcd4fee70f44aff936bb488dcfdabf650bcf97b7482f424240ae\"\n            }\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1640,"wires":[["6c0c679.5fa0898"]]},{"id":"6c0c679.5fa0898","type":"http request","z":"648f7293.da65ec","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.10.10:81/publish-command","tls":"","proxy":"","authType":"","x":570,"y":1640,"wires":[[]]},{"id":"934dcb6f.9410a8","type":"debug","z":"648f7293.da65ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":1100,"wires":[]},{"id":"691ba041.303ad8","type":"play audio","z":"648f7293.da65ec","name":"","voice":"0","x":440,"y":760,"wires":[]},{"id":"f5a3c3a4.54c52","type":"ui_text","z":"648f7293.da65ec","group":"cb016ac2.6a3338","order":1,"width":0,"height":0,"name":"RPM ","label":"RPM ","format":"{{msg.payload.rpm}} RPM","layout":"row-spread","x":1770,"y":720,"wires":[]},{"id":"a064839d.895c3","type":"ui_group","z":"","name":"Remote","tab":"e9afb7d6.c0fb48","order":3,"disp":true,"width":6,"collapse":true},{"id":"cb016ac2.6a3338","type":"ui_group","z":"","name":"Status","tab":"e9afb7d6.c0fb48","order":4,"disp":true,"width":6,"collapse":true},{"id":"49a5bc46.371b74","type":"socketio-config","z":"","host":"http://192.168.10.10","port":"81"},{"id":"30c2eb65.9c3654","type":"ui_group","z":"","name":"System","tab":"e9afb7d6.c0fb48","order":1,"disp":true,"width":6,"collapse":true},{"id":"c5924d7a.24bb7","type":"ui_group","z":"","name":"Controller ","tab":"e9afb7d6.c0fb48","order":2,"disp":true,"width":"6","collapse":true},{"id":"e9afb7d6.c0fb48","type":"ui_tab","z":"","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false}]